<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<!-- Reference:
 W3Schools, 2024, https://www.w3schools.com/bootstrap/bootstrap_navbar.asp
 Nav bar code edited from W3School cod 
-->
    <div class="container-fluid bg-secondary">
        <nav class="navbar navbar-expand-sm navbar-light bg-secondary">
            <a href="" class="navbar-brand mb-0 h3">The Census Clustered</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link active">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/methods" class="nav-link">Methods</a>
                    </li>
                </ul>
            </div> 
        </nav>
    </div>
    <section class="container">
        <div class="row my-4 gy-4">
            <div class="col-12 bg-secondary rounded">
                <p>
                    <h2>What is this application?</h2>
                    This website is part of my Master Dissertation in Data Science and A.I from the University of Liverpool.
                    <br><br>
                    The aim of this project was to produce a web application that allows users to cluster ONS Census data on numerous categories.
                </p> 
            </div>
            <div class="col-12 bg-secondary rounded">
                <p>
                    <h2>What is Clustering?</h2>
                    Clustering is an unsupervised machine learning method. It aims at grouping unlabelled data points together with similar unlabelled data points.
                    <br><br>
                    For example on this website when you cluster by Accommodation type, the clustering algorithm firstly gets the data on the accommodation type
                    of each LLA within the UK. This can just be thought of as each LLA having a set of coordinates with n number of dimensions depending on how many attributes there are
                    within a category.
                    <br><br>
                    E.g. If the data on the Wirral has , 50 caravans per 1000 households, 700 detached houses per 1000 households, and 200 flats per 1000 households.
                    This could be represented in a three dimensional coordinate space as the Wirral having the coordinates (50,700,200)
                    With these coordinates clustering algorithms can find the distance between different LLA's and determine which should be put in the same cluster.
                    Specific clustering algorithms are discussed on the methods page
                </p>
            </div>
        </div>
    </section>
    
</body>
</html>