table {
    width: 100%;
    border: solid black 1px;
    border-collapse: collapse;
    background-color: white;
}

th {
    text-align: left;
    background-color: white;
}

td {
    text-align: left;
}
  
/* refernce w3 schools */

tr:hover {
    background-color: mediumaquamarine;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(odd):hover {
    background-color: mediumaquamarine;
}

tbody tr th:first-child {
    display: none;
}

thead tr th:first-child {
    display: none;
}